# Dependencies for DRF
install.packages("drf")

# # R-dependencies for CDT and JCI-PC
# # Some packages required by pcalg can only be installed through bioconductor
# install.packages("BiocManager")
# BiocManager::install(c("graph", "RBGL", "ggm"))

# # Dependencies for kpcalg
# # Must have latest version of GSL package in the OS, see https://stackoverflow.com/questions/69583193/installing-r-gsl-package-on-ubuntu
# install.packages(c("gsl", "energy"))

# install.packages(c("pcalg"))
# install.packages(c("kpcalg"))

