numpy>=1.19.5
sempler==0.2.3
gnies==0.1.1

# For UT-IGSP
causaldag==0.1a135
tqdm==4.64.0

# For JCI-PC
pandas>=1.3.5
cdt==0.5.23
pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
